body{
font-family: 'Poppins', sans-serif;
background-color: #1C1C1C;
}
#Aux:hover
{
  background-color:black;
}
#Aux2:hover
{
  background-color:gray;
}
/* body
{
  background-image: url("/Imagenes/C1B.gif");
  background-repeat: no-repeat;
  background-size: 1330px;
  background-position: 0px 60px;
  background-attachment: fixed;
} */
#Aux3
{
  background-color: white;
  opacity: 0.7;
  margin-top: 30px;
}
#Aux4
{
  width: 1000px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  background-color:#790303 ;
  opacity: 0.7;
  margin-top: 10px;
  color: white;
}
#Aux5{
  background-color: white;
  color: black;
}
#Aux5:hover
{
  background-color:gray;
  color: white;
}
#Aux6
{
  width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  background-color: white;
  opacity: 0.7;
  margin-top: 10px;
}

    